// FONT 
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

// PRIMARY COLORS
$primary-color1: #fc7f3a;
$primary-color2: #ff8484;
$primary-color3: #6652da;
$primary-color4: #ffc31f;

// SECONDARY COLORS
$secondary-color: #000000;

// THIRD COLORs
$white: #FFFFFF;
$Yellow-light: #F9F7EE;
$yellow-yellow: #F2F0E6;
