// PRIMARY COLORS
$primary-color1: #FC7F3A;
$primary-color2: #FF8484;
$primary-color3: #6652DA;
$primary-color4: #FFC31F;

// SECONDARY COLORS
$secondary-color: #000000;

// THIRD COLORs
$white: #FFFFFF;
$Yellow-light: #F2F0E6;
