.about {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5rem;

  .about_div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.about_rmh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }
}
