@import "./resets";
@import "./variables";
@import "./sections";
@import "./sidebar";

.about2_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;

  p {
    max-inline-size: 86ch;
    text-align: center;
  }
}

.about2_articles,
.desktopView {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;

  .about2 {
    display: flex;
    flex-direction: column;
    max-width: 20.9rem;
    min-height: 31rem;

    p {
      line-height: 1.375rem;
      margin-bottom: 1.5rem;
    }

    div {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
      margin-bottom: 3rem;
    }

    button {
      max-width: 7.3rem;
      min-height: 2.2rem;
      border-radius: 2.8px;
      border: $primary-color1;
      color: $white;
      background-color: $primary-color1;
      margin-bottom: 3.3rem;
    }
  }
}

.section3 {
  margin-top: 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;

  p {
    line-height: 1.8rem;
  }
}

// MEDIA QUERIES
@media screen and (max-width: 576px) {
  .desktopView {
    display: none;
  }
}
