@import "./resets";
@import "./variables";
@import "./sections";
@import "./sidebar";

.info{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1.375rem;

    .date, .writter{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    }

    .writter span{
        color: $primary-color1;
    }
}

.all{
    display: flex;
    justify-content: center;
    align-items: center;

    .readAll{
        background-color: $white;
        border: 1px solid $primary-color1;
        color: $primary-color1;
        padding: 1rem 2rem;
        margin-top: 3rem;
    }
}
