@import "./resets";
@import "./variables";
@import "./sections";
@import "./sidebar";


#first{
    border: none;
    background-color: $primary-color1;
    color: $white;

}

#findout{
   background-color: $white;
   color: $primary-color1;
   border: none;
}