@import "./resets";
@import "./variables";
@import "./sections";
@import "./sidebar";

h1 {
  font-size: clamp(2.5rem, 4vw, 5.75rem);
  text-align: center;
}

h2 {
  font-size: clamp(1.875rem, 2.5vw, 3.5rem);
}

ul {
  list-style-type: none;
}

body {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: system-ui, -apple-system;
  background-color: $white;
}

button {
  transition: transform 0.3s ease-in-out;
  font-size: large;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

img {
  max-inline-size: 100%;
  object-fit: contain;
}

// SECTION 0
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  display: flex;
}

// DESKTOP
.desktop_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: inherit;
  gap: 4rem;
  border: 1px solid $secondary-color;
  border-radius: 10px;
  font-size: large;
  background-color: $white;
  min-width: 32rem;
  min-height: 2.5rem;

  a {
    text-decoration: none;
    color: $secondary-color;
  }

  .option1 {
    color: $primary-color1;
    padding-left: 1rem;
  }

  .option5 {
    padding-right: 1rem;
  }
}

// DROPDOWN MENU
.dropdown {
  overflow: hidden;

  .dropButton {
    border: none;
    outline: none;
    color: $secondary-color;
    padding: 0.9rem 1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transform: none;
    transition: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 8.75rem;
    z-index: 1;
    background-color: $primary-color3;

    a {
      float: none;
      color: $white;
      padding: 0.75rem 1rem;
      text-decoration: none;
      display: block;
      text-align: left;
    }
  }
}

.dropdown-content a:hover {
  background-color: $primary-color1;
}

.dropdown-content a:hover {
  background-color: $secondary-color;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.getStarted button {
  background-color: $primary-color1;
  color: $white;
  min-width: 8rem;
  min-height: 2.5rem;
  border-radius: 10px;
  border: $primary-color1;
}

// MOBILE
@media screen and (max-width: 36rem) {
  .desktop_menu,
  .getStarted button {
    display: none;
  }
}

// TABLET
@media screen and (min-width: 36rem) and (max-width: 62rem) {
  header {
    justify-content: center;
    flex-wrap: wrap;
  }

  .menu {
    display: none;
  }

  .desktop_menu {
    border: none;
    gap: 2rem;
    a:hover {
      color: $primary-color1;
    }
  }

  .getStarted button {
    display: none;
  }

  h1 {
    max-inline-size: 26ch;
  }
}

// DESKTOP
@media screen and (min-width: 62.063rem) {
  header {
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

  .menu {
    display: none;
  }

  h1 {
    max-inline-size: 22ch;
  }

  a:hover {
    color: $primary-color1;
  }
}

// SECTION 1
.section1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  .section1 div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button1 {
    margin: 2rem 0 2rem 0;
    min-width: 11.8rem;
    min-height: 3.3rem;
    border-radius: 10px;
    background-color: $secondary-color;
    color: $white;
  }
}

// SECTION 2 responsive
.section2 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  background-color: $white;
  margin-bottom: 9.3rem;

  button {
    border: 1px solid $primary-color2;
    border-radius: 6px;
    background-color: $primary-color2;
    padding: 0.6rem 1.5rem;
    color: $white;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  h2 {
    max-inline-size: 18ch;
  }

  .wellbeing {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h3 {
      font-size: clamp(1.375rem, 3.5vw, 1.625rem);
    }
  }

  .sect2_div {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .sect2_div div {
    padding-top: 2.2rem;
    max-inline-size: 22ch;
  }
}
@media screen and (min-width: 62.063rem) {
  .section2 {
    justify-content: space-evenly;
    align-items: center;
    gap: 15rem;

    .wellbeing {
      gap: 2.5rem;
    }
  }
}

// SECTION 3 RESPONSIVE
.analytic {
  background-color: $primary-color1;
  border: 1px solid $primary-color1;
  color: $white;
}

.sect h2 {
  max-inline-size: 24ch;
}

.analytics {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-bottom: 5.6rem;
}

.sect {
  p {
    max-inline-size: 38ch;
  }
}

// MEDIUM
@media screen and (min-width: 36rem) and (max-width: 62rem) {
  .analytics {
    justify-content: center;
    align-items: center;
  }
}

// DESKTOP
@media screen and (min-width: 62.063rem) {
  .analytics {
    justify-content: center;
    align-items: center;
    gap: 15rem;
  }

  .sect h2 {
    max-inline-size: 16ch;
  }
}

// SECTION 4
.flexibility {
  background-color: $primary-color4;
  border: 1px solid $primary-color4;
  color: $secondary-color;
}

.sect h2 {
  max-inline-size: 20ch;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-bottom: 5.6rem;
}

.sect {
  p {
    max-inline-size: 38ch;
  }
}
// MEDIUM
@media screen and (min-width: 36rem) and (max-width: 62rem) {
  .flexible {
    justify-content: center;
    align-items: center;
  }
}

// DESKTOP
@media screen and (min-width: 62.063rem) {
  .flexible {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15rem;
  }

  .sect h2 {
    max-inline-size: 16ch;
  }
}

// SECTION 5
.business {
  background-color: $primary-color3;
  border: 1px solid $primary-color3;
  color: $white;
}

.sect5 {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
  margin-bottom: 5.6rem;
}
// MEDIUM
@media screen and (min-width: 36rem) and (max-width: 62rem) {
  .sect5 {
    justify-content: center;
    align-items: center;
  }
}

// DESKTOP
@media screen and (min-width: 62.063rem) {
  .sect5 {
    justify-content: center;
    align-items: center;
    gap: 15rem;
  }
  .sect h2 {
    max-inline-size: 16ch;
  }
}

// SECTION 6
.section6 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  .button {
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    color: $white;
    background-color: $primary-color2;
    border: 1px solid $primary-color2;
    max-width: fit-content;
  }

  h1 {
    text-align: center;
  }

  .cities {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 25rem) {
  .cities img {
    display: none;
  }
}

@media screen and (max-width: 25rem) {
  .hidden img {
    display: none;
  }
}

/* SECTION 7 */
.section7 {
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .citys {
    margin-bottom: 1rem;
  }

  .marquees {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.exception {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  max-width: 20.938rem;
  min-height: 26.125rem;

  .siemens {
    padding-bottom: 2.8rem;
  }

  div {
    display: flex;
    justify-content: center;
  }

  p {
    line-height: 2.125rem;
  }
}
// MOBILE
@media screen and (max-width: 46.875rem) {
  #exception2 {
    display: none;
  }
}

// SECTION 8
.section8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 5rem;

  .button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    border: 1px solid $secondary-color;
  }

  p {
    margin-bottom: 1.5rem;
    max-inline-size: 80ch;
  }

  .option1,
  .option2 {
    display: inline-block;
    padding: 12px 2.5rem;
    margin: 3px;
    max-width: 17.3rem;
    min-height: 3rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
  }

  .option1 {
    background-color: $secondary-color;
    border-radius: 10px;
  }

  .option2 {
    background-color: $white;
    color: $secondary-color;
    border-radius: 10px;
  }

  .option1:hover {
    background-color: $primary-color3;
  }
  .option2:hover {
    background-color: $primary-color4;
  }
}

// SECTION 9
.section9 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5.5rem;

  h4 {
    font-size: 2.75rem;
  }

  //Standard
  .sect9_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    max-width: 20.9rem;
    min-height: 42.5rem;

    span {
      font-size: small;
    }

    button {
      background-color: $primary-color4;
      border: 1px solid $primary-color4;
      padding: 1.2rem;
      border-radius: 10px;
      margin-bottom: 1rem;
      color: $white;
    }
  }

  .benefits {
    display: flex;
    gap: 1rem;
  }

  .benefits:last-of-type {
    margin-bottom: 1rem;
  }

  //Premium
  .sect9_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    max-width: 20.9rem;
    min-height: 41.8rem;

    span {
      font-size: small;
    }

    button {
      background-color: $primary-color1;
      border: 1px solid $primary-color1;
      color: $white;
      padding: 1.2rem;
      border-radius: 10px;
      margin-bottom: 1rem;
    }
  }

  .sect9_3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    max-width: 20.9rem;
    min-height: 41.8rem;

    button {
      background-color: $primary-color2;
      border: 1px solid $primary-color2;
      color: $white;
      padding: 1.2rem;
      border-radius: 10px;
      margin-bottom: 1rem;
    }

    .benefits:last-of-type {
      margin-bottom: 5rem;
    }
  }
}

@media screen and (min-width: 62.063rem) {
  .sect9_2 {
    justify-content: space-evenly;
    margin-bottom: 6rem;
    box-shadow: 0px 54px 124px -20px rgba(90, 82, 41, 0.24);
  }
}

// SECTION 10
.section10 {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .section10_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid $secondary-color;
    padding: 1rem;
    max-width: 21rem;
    min-height: 26rem;
    border-radius: 10px;
    color: $white;
    background-color: $secondary-color;

    h2 {
      margin-bottom: 3rem;
      max-inline-size: 20ch;
    }

    button {
      padding: 1rem 3.5rem;
      border-radius: 10px;
      border: 1px solid $secondary-color;
      margin-bottom: 6rem;
      color: $secondary-color;
    }

    .nav {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-bottom: 3rem;

      a {
        text-decoration: none;
        color: $white;
      }

      a:first-of-type {
        color: $primary-color1;
      }
    }

    p {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (min-width: 62.063rem) {
  .section10_div {
    min-width: 85rem;
    min-height: 39rem;
  }

  .exchange {
    display: flex;
    gap: 20rem;
  }

  .hide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20rem;
  }
}
