@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.section button {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.section .sect {
  display: flex;
  flex-direction: column;
}
.section .sect h2 {
  margin: 1.2rem 0;
}
.section .sect p {
  margin-bottom: 3rem;
}
.section .analytics img {
  max-inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

img {
  max-inline-size: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 46px;
  letter-spacing: -1.2px;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  letter-spacing: -0.3px;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "div menu";
}

.menu div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #000000;
}

.section1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.section1 .section1 div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.section1 .button1 {
  margin: 2rem 0 2rem 0;
  border-radius: 10px;
  padding: 1rem 3rem;
  background-color: #000000;
  color: #ffffff;
}

.section2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
.section2 button {
  border: 1px solid #ff8484;
  border-radius: 6px;
  background-color: #ff8484;
  padding: 0.6rem 1.5rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}
.section2 .sect2_div {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.section2 .sect2_div div {
  padding-top: 2.2rem;
}
.section2 .sect2_div2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.analytic {
  background-color: #fc7f3a;
  border: 1px solid #fc7f3a;
  color: #ffffff;
}

.flexibility {
  background-color: #ffc31f;
  border: 1px solid #ffc31f;
  color: #000000;
}

.business {
  background-color: #6652da;
  border: 1px solid #6652da;
  color: #ffffff;
}

.section6 {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.section6 .button {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: #ffffff;
  background-color: #ff8484;
  border: 1px solid #ff8484;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
.section6 h2 {
  text-align: center;
}
.section6 .cities {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SECTION 7 */
.section7 {
  margin-top: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.section7 .citys {
  margin-bottom: 1rem;
}
.section7 .marquees {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.section7 .marquees .city {
  display: none;
}

.exception {
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  max-width: 20.938rem;
  min-height: 26.125rem;
}
.exception .siemens {
  padding-bottom: 3rem;
}
.exception div {
  display: flex;
  justify-content: center;
}
.exception p {
  line-height: 2.125rem;
}

.section8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin-top: 5rem;
}
.section8 .button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  border-radius: 10px;
  border: 1px solid #000000;
}
.section8 p {
  margin-bottom: 1.5rem;
}
.section8 .option1,
.section8 .option2 {
  display: inline-block;
  padding: 12px 2.5rem;
  margin: 3px;
  color: #fff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}
.section8 .option1 {
  background-color: #000000;
  border-radius: 10px;
}
.section8 .option2 {
  background-color: #ffffff;
  color: #000000;
  border-radius: 10px;
}
.section8 .option1:hover {
  background-color: #6652da;
}
.section8 .option2:hover {
  background-color: #ffc31f;
}

.section9 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5.5rem;
}
.section9 .sect9_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  max-width: 20.938rem;
  min-height: 26.125rem;
}
.section9 .sect9_1 span {
  font-size: small;
}
.section9 .sect9_1 button {
  background-color: #ffc31f;
  border: 1px solid #ffc31f;
  padding: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.section9 .benefits {
  display: flex;
  gap: 1rem;
}
.section9 .benefits:last-of-type {
  margin-bottom: 1rem;
}
.section9 .sect9_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  max-width: 21rem;
  min-height: 26rem;
}
.section9 .sect9_2 span {
  font-size: small;
}
.section9 .sect9_2 button {
  background-color: #fc7f3a;
  border: 1px solid #fc7f3a;
  color: #ffffff;
  padding: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.section9 .sect9_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem;
  max-width: 21rem;
  min-height: 26rem;
}
.section9 .sect9_3 button {
  background-color: #ff8484;
  border: 1px solid #ff8484;
  color: #ffffff;
  padding: 1.2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.section9 .sect9_3 .benefits:last-of-type {
  margin-bottom: 5rem;
}

.section10 {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section10 .section10_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #000000;
  padding: 1rem;
  max-width: 21rem;
  min-height: 26rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: #000000;
}
.section10 .section10_div h2 {
  margin-bottom: 3rem;
}
.section10 .section10_div button {
  padding: 1rem 3.5rem;
  border-radius: 10px;
  border: 1px solid #000000;
  margin-bottom: 6rem;
}
.section10 .section10_div .nav {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}
.section10 .section10_div .nav a {
  text-decoration: none;
  color: #ffffff;
}
.section10 .section10_div .nav a:first-of-type {
  color: #fc7f3a;
}
.section10 .section10_div p {
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */